.mod_mapa_mapa { 
    margin: 0 auto;
    display:block;
}


.mod_mapa_listbuttons input[type="submit"]{
	width: 400px;
	/*float: left;*/
	background-color: black;
}

.mod_mapa_actionbuttons {
	display: flex;
	float: right;
	color: red;
}

